* {
  box-sizing: border-box;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

body {
  margin: 0; 
}

a {
  text-decoration: none;
}

header {
  padding: 0;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 50px;
}

.nav_logo {
  position: relative;
}

.navbar_menu{
  list-style: none;
  display: flex;
  margin: 0;
  font-weight: 500;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar_menu li {
  display: inline-block;
  padding: 8px 30px;
  color: #222;
}


.main_picture {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 0px 85px 0px;
  background-size: cover;
  background-position: 0;
  overflow: hidden;
}

.containor {
  margin: 0px 0px 30px;
  font-size: 32.62px;
  font-weight: bold;
}

.character_title {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 30px;
}

button {
  display: block;
  width: 170px;
  margin: 0 auto 50px;
  border: solid 1px #222;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 16px 0px;
}

button:hover {
  background: rgba(0,0,0,1);
  color: white;
  cursor: pointer;
}

.character {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0px 200px;
}

character:hover {
  cursor: pointer;
  color: white;
}

.character_box {
  border: 2px solid #eee;
  border-radius: 5%;
  margin: 10px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 280px;
  padding: 10px;
}

.pic {
  display: inline-block;
  margin: 0 auto;
}

.pic > img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 260px;
  height: 190px;
}

.name {
  padding: 10px 10px;
}

.name_kor {
  font-size: 24px;
  color: black;
  text-align: center;
  margin: 0;
}

.name_eng {
  font-size: 12px;
  color: lightgray;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
