* {
  box-sizing: border-box;
  font-family: "Montserrat" "Nanum Gothic", sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
  position: sticky;
  top: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.nav_logo {
  position: relative;
}

.home_logo {
  width: 100px;
  height: 100px;
}


.navbar_menu{
  list-style: none;
  display: flex;
  margin: 0;
  font-weight: bold;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu li {
  display: inline-block;
  padding: 8px 30px;
}
 /* 이거 쓰니까 company,character,place,recruit 얘네가 따닥따닥 붙어 있다가 떨어짐! */


.main_picture {
  position: static;
  width: 100%;
  height: auto;
  /* width100%, height auto하니까 화면에 딱맞춰서 사진 들어감! */
  margin: 85px 0px;
  background-size: cover;
  background-position: 0;
  overflow: hidden;
}
/* 
.containor {
  margin: 0px 0px 20px;
  font-size: 32.62px;
  font-weight: bold;
}

.character_title {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 30px;
} */

button {
  display: block;
  width: 170px;
  margin: 0px 600px;
  padding: 16px 0px;
  border: solid 1px #222;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  color: black;
  /* padding을 주니까 버튼이 좀 넓어짐 */
}
button:hover {
  background: rgba(0,0,0,1);
  color: white;
  cursor: pointer;
}



.character {
  list-style: none;
  display: flex;
}

.character_pic {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: calc(25% - 20px);
  height: 0;
  /* width: calc(20% - 10px);
  margin: 0 5px 10px;
  padding-top: calc(20% - 10px); */
}

.character_pic:hover {
  cursor: pointer;
  color: white;
}

.pic {
  overflow: hidden;
  position: relative;
}
/* 사이즈 정하기 (사진) */

.pic_box {
  border: 2px solid #eee;
  border-radius: 20px;
  position: relative;
  display: block;
}

.character_description

.name {
  font-size: 24px;
  color: #444;
  box-sizing: border-box;
  text-align: center;
  margin: 50px 10px;
}

.name_eng {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}