* {
  box-sizing: border-box;
  font-family: "Montserrat", "Nanum Gothic", sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

header {
  padding: 0;
  width: 100%;
  position: sticky;
  top: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 50px;
}

.nav_logo {
  position: relative;
}

.navbar_menu{
  list-style: none;
  display: flex;
  margin: 0;
  font-weight: bold;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu li {
  display: inline-block;
  padding: 8px 30px;
}

.goto_logo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.main_picture {
  position: static;
  width: 100%;
  height: auto;
  /* width100%, height auto하니까 화면에 딱맞춰서 사진 들어감! */
  margin: 0px 0px 85px 0px;
  background-size: cover;
  background-position: 0;
  overflow: hidden;
}

.containor {
  margin: 0px 0px 30px;
  font-size: 32.62px;
  font-weight: bold;
}

.character_title {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 30px;
}

button {
  display: block;
  width: 170px;
  margin: 0 auto 50px;
  border: solid 1px #222;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 16px 0px;
  /* padding을 주니까 버튼이 좀 넓어짐 */
}
button:hover {
  background: rgba(0,0,0,1);
  color: white;
  cursor: pointer;
}

.character {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: calc(50% - 20px);
  height: 0;
}

character:hover {
  cursor: pointer;
  color: white;
}

.character_box {
  border: 2px solid #eee;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.name {
  font-size: 24px;
  color: #444;
  text-align: center;
  margin: 0;
}

.name_eng {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}